body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

.primary {
  background-color: #2563EB;
}

.dark {
  color: #0F172A;
}

.light {
  background-color: #F8FAFC;
}

.accent {
  background-color: #22C55E;
}

/* .container,
footer {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
} */

.container .header {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header #logo {
  width: 25%;
  /* padding: 25px; */
}

.container .header #logo p {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 25px;
  font-weight: 550;
}

.container .header .navbar {
  width: 60%;
  /* padding: 25px; */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li {
  padding: 10px;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #E0E7FF;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #0F172A;
}

.btn {
  width: 15%;
  /* height: 25px; */
}

.btn {
  padding: 10px 0px;
}

.btn a {
  text-decoration: none;
  color: #FFFFFF;
}

/* .btn a:hover {
  text-transform: uppercase;
  transition: all 1.5s ease-in-out;
} */

.button:hover {
  background-color: #1E40AF;
  transition: all 0.5s ease-in-out;
}

.button {
  width: 70%;
  padding: 10px 20px;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-content {
  text-align: justify;
  width: 45%;
}

.hero-section .hero-image {
  width: 45%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.about-section {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
}

.about-section h2,
.services-section h2,
.certificates-section h2,
.projects-section h2 {
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-content .about-image {
  /* width: 50%; */
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.about-content .text {
  width: 50%;
  font-size: 16px;
}

.about-section p {
  text-align: justify;
}

.services-section {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.services-section .row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services-section .row .service-card {
  width: 250px;
  height: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.certificates-section {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificates-gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cert-cards {
  width: 200px;
  height: 250px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.projects-section {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
}

.projects-section .projects-gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projects-section .projects-gallery .project-card {
  width: 15%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px;
  text-align: center;
}